body {
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #009933;
    padding: 20px;
    color: #fff;
}

header h1 {
    text-align: center;
    margin: 0;
}

nav ul {
    text-align: center;
    list-style-type: none;
    padding: 1%;
    margin: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

nav ul li a:hover {
    background-color: rgb(90, 90, 28);
}

h2 {
    text-align: center;
    color: #009933;
}

#div-img {
    margin: 0 auto;
    height: 650px;
    width: 70%;
    background-image: no-repeat;
    background-image: fixed;
    background-image: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

i {
    color: rgb(10, 10, 10);
}

form button {
    margin-top: 20px;
    border: none;
    margin-bottom: 20px;
}

button i {
    font-size: 24px;

}

button i:hover {
    color: rgb(162, 11, 11);
}

#like-activo {
    color:  rgb(162, 11, 11);
}

#div-comentario {
    display: flex;
    flex-direction: column;
    justify-items: center;
    height: 225px;
    background-color: #fff;
    padding-top: 5px;
    padding-left: 5px;
}

.section-comentario {
    margin-top: 30px;
}

#h3-agregar-comentario {
    color: #009933;
    text-align: center;
}



#textarea-comentario {
    width: 787px;
    height: 70px;
}

#textarea:focus {
    color: rgb(10, 10, 10);
}

#boton-comentario {
    background-color: #009933;
    color: #fff;
    height: 30px;
    width: 200px;
    border-radius: 30px;
}

#div-button-comentario {
    display: flex;
    justify-content: center;
}

#boton-comentario:hover {
    background-color: rgb(90, 90, 28);
    transition: 0.5s;
}

footer {
    margin-top: 100px;
    width: 100%;
    background-color: #009933;
    padding: 20px;
    color: #fff;
    text-align: center;
}

#div-comentario-titulo {
    display: flex;
    justify-content: space-between;
    background-color: white;
}

#div-botones {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#form-comentario {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.button-comentario {
    width: 100px;
    height: 40px;
    background-color: #009933;
    color: white;
    border-style: none;
    border-radius: 20px;
}

.button-comentario:hover {
    background-color: rgb(90, 90, 28);
    transition: 0.5s;
}
