body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #009933;
    padding: 20px;
    color: #fff;
}

header h1 {
    text-align: center;
    margin: 0;
}

nav ul {
    text-align: center;
    list-style-type: none;
    padding: 1%;
    margin: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

nav ul li a:hover {
    background-color: rgb(90, 90, 28);
}



article {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
}

article h2 {
    color: #009933;
}

article p {
    color: #333;
}

footer {
    width: 100%;
    background-color: #009933;
    padding: 20px;
    color: #fff;
    text-align: center;
}

section {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    align-items: center;
}

form input {
    border-radius: 20px;
    border-style: none;
    height: 30px;
    background-color: #009933;
}

form input::placeholder {
    color: #fff;
}

form input:focus {
    color: #fff;
}

form button {
    border-style: none;
}

form button i {
    font-size: 25px;
}

#a-article {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.button-article {
    width: 100px;
    height: 40px;
    background-color: #009933;
    color: white;
    border-style: none;
    border-radius: 20px;
}

.button-article:hover {
    background-color: rgb(90, 90, 28);
    transition: 0.5s;
}

#div-flex {
    display: flex;
    justify-content: space-between;
}